<!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top navbar" >
      <div class="container" style="height: 60px">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>


          
            <a style="color: #ff5a5f; font-size: 2em; font-weight: 400; line-height: 2.3em; text-decoration: none;" ><img src="/wallet3.png" height="40" style="margin-top: -10px"alt="" > Wallet</a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          
          
          <ul class="nav navbar-nav pull-right nav_btn_pad">


            <% if (!user_signed_in?) %>
              <li style="margin-top: 10px;">
              <%= link_to "Login", new_user_session_path %>
              </li>
              <li style="margin-top: 10px;">
              <%= link_to "Sign up", new_user_registration_path %>
              </li>
            <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= image_tag("/user.png", class: "avatar_small", style: 'display:inline' ) %>&nbsp;
              <%= current_user.firstname %> <%= current_user.lastname %> <span class="caret"></span></a>

              <ul class="dropdown-menu">

                <%# needs proper link %>
                <li>
                <a href="#">Link1</a>            
                </li>
                <%# needs proper link %>
                <li>
                <a href="#">Link2</a>            
                </li>
                <%# needs proper link %>
                <li>
                <a href="#">Link3</a>               
                </li>
                <%# needs proper link %>
                <li>
                <a href="#">Link4</a>            
                </li>

                <li role="separator" class="divider"></li>
                <li>
                <%= link_to "Edit Profile", edit_user_registration_path %>             
                </li>
                <li>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete %>

               </li>

              </ul>
            </li>
            <% end %>
            
            
       </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>