<h1>Your expenses</h1>
<br>


<% for expense in @expenses %>
 <br/><br/>
    <div class="expense">
        <%# <%= image_tag expense.picture if expense.picture.attached? %>
        <div class="info">
            <div class="info-bar">
                <div><h3><div><%= link_to expense.title, expense_path(expense.id)%></div></h3></div>
                <div><%= expense.description %></div>
                <div><%= expense.date_start %> till <%= expense.date_end %></div>
            </div>
            
                        <br/>

        </div>

        <% if current_user.id == expense.user_id%>



            <%= form_with model: expense, local: true, method: "delete" do |form| %>
                <div class="modify-icons">
                <%= link_to "View", expense_path(expense.id), class: "btn btn-normal"%>
                    <%= submit_tag "Delete", class: "btn btn-normal"  %>
                    <%= link_to "Edit", edit_expense_path(expense.id), class: "btn btn-normal"  %>
               <%= link_to "Create New Expense", new_expense_path, class: "btn btn-normal"  %>
                </div>
                
            <% end %>







            
        <% end %>




    </div>
   
<% end %>
