<h1>Your expenses</h1>
<%= link_to "create expense", new_expense_path %>

<div class="expenses">
<% for expense in @expenses %>
    <div class="expense">
        <div class="info">
            <div class="info-bar">
                <div><%= link_to expense.title, expense_path(expense.id)%></div>
                <div><%= expense.description %></div>
                <div><%= expense.date_start %></div>
                <%= link_to "edit", edit_expense_path(expense.id), class: "icon" %>
                <%= form_with model: expense, local: true, method: "delete" do |form| %>
                    <div class="modify-icons">
                        <%= submit_tag "remove", class: "icon" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>
</div>